## Functions

{{#functions.length}}
{{#functions}}
#### {{name}}
`function {{name}}({{#parameters}}{{name}}{{#type}}: {{text}}{{/type}}{{/parameters}}){{#return}}: {{return.type.text}}{{/return}}`
{{description}}
{{summary}}

{{/functions}}
{{/functions.length}}